{{#if error}}
<div class="errorContainer">
    <p>{{error.message}}</p>
</div>
{{/if}}

    <section class="edit-form-container">

        <form action="/edit/{{products._id}}" method="POST">
            <h3>Edit Book Review</h3>
            <label>Title</label>
            <input type="text" name="title" class="box" value="{{products.title}}" id="">
            <label>Author</label>
            <input type="text" name="author" class="box" value="{{products.author}}" id="">
            <label>Genre</label>
            <input type="text" name="genre" class="box" value="{{products.genre}}" id="">
            <label>Stars</label>
            <input type="number" name="stars" class="box" value="{{products.stars}}" id="">
            <label>Image</label>
            <input type="text" name="image" class="box" value="{{products.image}}" id="">
            <label>Review</label>
            <textarea class="box"
                name="">{{products.bookReview}}</textarea>
            <input type="submit" value="Edit" class="btn">
        </form>
    </section>
